<header class="site-header">

  <div id="header">
    <nav>
      <ul>
        <li class="fork"><a href="{{site.baseurl}}/">Home</a></li>
        <li class="fork"><a href="{{site.baseurl}}/artperiods">Art Periods</a></li>
        <li class="fork"><a href="{{site.baseurl}}/findyourmatch">Find Your Match</a></li>
        <li class="title"><a href="{{site.baseurl}}/quizzesandgames">Quizzes and Games</a></li>
        <li class="title"><a href="{{ site.github.repository_url }}#readme">View On GitHub</a></li>
        <li class="title"><a href="{{site.baseurl}}/homepage">homepage</a></li>
      </ul>
    </nav>
  </div><!-- end header -->
</header>